[submodule "deps/wasm-semantics"]
	path = deps/wasm-semantics
	url = https://github.com/kframework/wasm-semantics
	ignore = untracked
[submodule "deps/substrate"]
	path = deps/substrate
	url = https://github.com/paritytech/substrate
	ignore = untracked
[submodule "deps/pandoc-tangle"]
	path = deps/pandoc-tangle
	url = https://github.com/ehildenb/pandoc-tangle
	ignore = untracked
